{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Rascacielos más altos de México</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/rascacielos-mas-altos-de-mexico.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}